.error-page {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    margin: 155px auto;
    top: 0;
    left: 0;
    position: relative;
    text-align: center;
    background: linear-gradient(to bottom, #d36242 0%, darkred 100%);
    display: grid;
    grid-auto-rows: 50% 25% 12.5% 12.5%;
    align-items: center;
    align-content: center;
    isolation: isolate;
}

.error-page:after {
    width: 310px;
    height: 17px;
    margin: 0 auto;
    top: 40px;
    content: '';
    z-index: -1;
    display: block;
    position: relative;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
}

.error-page h1 {
    color: rgba(255, 255, 255, 0.94);
    font-size: 100px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    vertical-align: bottom;
    position: relative;
}

.error-page h1:after {
    width: 260px;
    height: 1px;
    position: relative;
    margin: 0 auto;
    content: '';
    bottom: 0;
    display: block;
    background:
        radial-gradient(ellipse at center, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%),
        radial-gradient(ellipse at center, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
}

.error-page h2 {
    margin: 55px 0 30px 0;
    font-size: 17px;
}

.error-page h2:after {
    width: 130px;
    height: 1px;
    content: '';
    display: block;
    margin: 0 auto;
    top: 11px;
    position: relative;
    background:
        radial-gradient(ellipse at center, rgba(111, 25, 25, 0.65) 0%, rgba(75, 38, 38, 0) 70%, rgba(60, 44, 44, 0) 100%),
        radial-gradient(ellipse at center, rgba(247, 173, 148, 0.65) 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
}

.error-back {
    text-decoration: none;
    color: #430400;
    font-size: 15px;
}

.error-back:hover {
    color: #EB957D;
    text-shadow: 0 0 3px black;
}
