#insuranceSelection {
    flex-direction: row;

    & .col {
        flex-basis: auto;
    }
}

.has-spinner {
    position: relative;
}

.has-spinner::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    animation: 0.75s linear infinite spinner-border;
    border-width: 0.25rem;
    border-style: solid;
    border-radius: 50%;
    border-color: red;
    border-right-color: transparent;
    vertical-align: -0.125em;
    translate: -3rem 2.2rem;
}

.was-validated .has-spinner:not(:disabled):has(:invalid, :valid)::after,
.has-spinner:not(:disabled):has(.is-invalid)::after {
    translate: -4rem 2.2rem;
}

.alert-danger {
    display: none;

    --bs-alert-bg: var(--bs-danger-text-emphasis);
    --bs-alert-color: #000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}

.alert-warning {
    display: none;

    --bs-alert-bg: var(--bs-warning-text-emphasis);
    --bs-alert-color: #000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}

.btn.info-layer-trigger {
    --bs-btn-padding-y: 0;
    --bs-btn-padding-x: 0;
    z-index: 100;
    border: none;
    cursor: pointer;
}

.btn.icon {
    width: 1rem;
    height: 1rem;
}

[id="atb-start"],
[id="atb-result"] {
    display: none;
}

[id="atb-start"]:target {
    display: block;
}

[id="atb-result"]:target {
    display: block;
}

.pie-chart {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex-wrapper {
    position: relative;
    max-width: 8.75rem;
    height: auto;
    margin: 0 auto;
}

.single-chart {
    display: grid;
    position: relative;
    justify-content: space-around;
    max-width: 100%;
    margin: 1rem auto;
}

.circular-chart {
    display: block;
    position: relative;
    width: 15.625rem;
    height: 15.625rem;
    margin: 0.625rem auto;
}

.circular-chart .circle-bg {
    position: absolute;
    inset: 0;
    fill: none;
}

.circular-chart .circle-bg.secondary {
    stroke-linecap: round;
    stroke: #959595;
}

.circular-chart .circle-bg.bg {
    stroke: #d1d1d1;
}

.circular-chart .circle-bg.primary {
    stroke-linecap: round;
    stroke: #09c;
}

.circular-chart .text {
    font-size: 10px;
    text-anchor: middle;
    dominant-baseline: middle;
}

.circular-chart .text.secondary {
    fill: #959595;
}

.circular-chart .text.primary {
    fill: #09c;
}

.circular-chart .circle.animate {
    animation: progress 1s ease-out forwards;
    animation: progress 1s ease-out forwards;
}

.percentage {
    width: 100%;
    margin: auto;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.col-11 .progress {
    --bs-border-radius: 0.5rem;
}

div.progress,
progress.progress,
meter.progress {
    --bs-progress-bar-bg: var(--bs-secondary-bg);
    --bs-progress-bar-height: 1rem;
    --bs-progress-border-radius: calc(var(--bs-progress-bar-height) / 2);
    --bs-progress-height: var(--bs-progress-bar-height);
}

/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    div.progress,
    progress.progress,
    meter.progress {
        --bs-progress-bar-height: 1rem;
    }
}

div.progress .progress-bar {
    border-radius: var(--bs-progress-border-radius) 0 0 var(--bs-progress-border-radius);

    .secondary & {
        --bs-progress-bar-bg: #959595;
        --bs-progress-border-color: #959595;
    }

    .primary & {
        --bs-progress-bar-bg: #09c;
        --bs-progress-border-color: #09c;
    }
}

progress.progress {
    --bs-progress-border-color: var(--bs-secondary-bg);
    --bs-progress-border-width: 0;
    display: block; /* default: inline-block */
    width: 100%;
    height: var(--bs-progress-bar-height);
    border-width: var(--bs-progress-border-width);
    border-style: solid;
    border-radius: var(--bs-progress-border-radius);
    border-color: var(--bs-progress-border-color);
    background-color: var(--bs-secondary-bg);
    box-shadow: var(--bs-box-shadow-inset);
    appearance: none;

    .secondary & {
        --bs-progress-bar-bg: #959595;
        --bs-progress-border-color: #959595;
    }

    .primary & {
        --bs-progress-bar-bg: #09c;
        --bs-progress-border-color: #09c;
    }
}

progress.progress::-moz-progress-bar {
    border-radius: var(--bs-progress-border-radius) 0 0 var(--bs-progress-border-radius);
    background-color: var(--bs-progress-bar-bg);
    box-shadow: inset 0 -2px 4px rgb(0 0 0 / 0.4), 0 2px 5px 0 rgb(0 0 0 / 0.3);

}

progress.progress::-webkit-progress-bar {
    overflow: hidden;
    background-color: transparent;
}

progress.progress::-webkit-progress-value {
    border-radius: var(--bs-progress-border-radius) 0 0 var(--bs-progress-border-radius);
    background-color: var(--bs-progress-bar-bg);
    box-shadow: inset 0 -2px 4px rgb(0 0 0 / 0.4), 0 2px 5px 0 rgb(0 0 0 / 0.3);
}

meter.progress {
    --bs-meter-border-color: var(--bs-secondary-bg);
    --bs-meter-border-width: 2px;
    position: relative;
    width: 100%;

    /* overflow: hidden; */
    height: var(--bs-progress-bar-height);
    border-width: var(--bs-meter-border-width);
    border-style: solid;
    border-radius: var(--bs-progress-border-radius);
    border-color: var(--bs-meter-border-color);
    place-self: center;

    .secondary & {
        --bs-progress-bar-bg: #959595;
        --bs-meter-border-color: #959595;
    }

    .primary & {
        --bs-progress-bar-bg: #09c;
        --bs-meter-border-color: #09c;
    }
}

/* meter.progress::-webkit-meter-inner-element {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
} */
meter.progress::-webkit-meter-bar {
    display: flex;
    position: absolute;
    width: calc(100% + calc(2 * var(--bs-meter-border-width)));
    height: calc(var(--bs-progress-bar-height) + calc(2 * var(--bs-meter-border-width)));
    border-radius: var(--bs-progress-border-radius);
    background-color: transparent;

    /* translate: -50% -50%; */
}

meter.progress::-webkit-meter-optimum-value {
    border-radius: calc(var(--bs-progress-border-radius) - var(--bs-meter-border-width));
    background-color: var(--bs-progress-bar-bg); /* default is green */
}

meter.progress::-webkit-meter-suboptimum-value {
    border-radius: calc(var(--bs-progress-border-radius) - var(--bs-meter-border-width));
    background-color: var(--bs-progress-bar-bg); /* default is yellow */
}

meter.progress::-webkit-meter-even-less-good-value {
    border-radius: calc(var(--bs-progress-border-radius) - var(--bs-meter-border-width));
    background-color: var(--bs-progress-bar-bg); /* default is red */
}

meter.progress::-moz-meter-bar {
    position: absolute;
    width: 100%;
    height: calc(1rem - calc(2 * var(--bs-meter-border-width)));
    border-radius: var(--bs-progress-border-radius);
    background: #0d6efd;
}

meter.progress:-moz-meter-optimum::-moz-meter-bar {
    background: #86CC00;
}

meter.progress:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB1A;
}

meter.progress:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #CC4600;
}

.form-range[type="range"],
.form-range[type="range"] + datalist {
    --thumb-width: 1.5rem;
    --thumb-height: 1.5rem;
}

/* style range */
.form-range[type="range"] {
    display: block;
    position: relative;
    z-index: 200;
    top: 10px;
    right: 0;
    left: 0;
    height: var(--thumb-height);
    padding: 1rem;
}


.form-range[type="range"]:focus {
    outline: 0;
}

.form-range[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgb(13 110 253 / 0.25);
}

.form-range[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgb(13 110 253 / 0.25);
}

.form-range[type="range"]::-moz-focus-outer {
    border: 0;
}

.form-range[type="range"]::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 0;
    border-radius: 1rem;
    background-color: #0d6efd;
    appearance: none;
    appearance: none;
}

@media (prefers-reduced-motion: reduce) {
    .form-range[type="range"]::-webkit-slider-thumb {
        transition: none;
        transition: none;
    }
}

.form-range[type="range"]::-webkit-slider-thumb:active {
    background-color: #b6d4fe;
}

.form-range[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
    border-color: transparent;
    background-color: var(--bs-secondary-bg);
    color: transparent;
    cursor: pointer;
}

.form-range[type="range"]::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 0;
    border-radius: 1rem;
    background-color: #0d6efd;
    appearance: none;
    appearance: none;
}

@media (prefers-reduced-motion: reduce) {
    .form-range[type="range"]::-moz-range-thumb {
        transition: none;
        transition: none;
    }
}

.form-range[type="range"]::-moz-range-thumb:active {
    background-color: #b6d4fe;
}

.form-range[type="range"]::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    border-radius: 1rem;
    border-color: transparent;
    background-color: var(--bs-secondary-bg);
    color: transparent;
    cursor: pointer;
}

.form-range[type="range"]:disabled {
    pointer-events: none;
}

.form-range[type="range"]:disabled::-webkit-slider-thumb {
    background-color: var(--bs-secondary-color);
}

.form-range[type="range"]:disabled::-moz-range-thumb {
    background-color: var(--bs-secondary-color);
}

datalist {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    writing-mode: vertical-lr;
}

datalist option {
    --option-width: calc(100% / 6);
    display: flex;
    position: relative;
    align-items: center;
    width: var(--option-width);
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0;
    padding-top: var(--thumb-height);
    color: #8E8E93;
    font-size: 12px;
    line-height: 16px;
    text-align: left;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;

        /* transform: rotate(45deg); */
        transform: translateY(-50%) rotate(45deg);
        border-top: 16px solid var(--bs-secondary-bg);
        border-left: 16px solid var(--bs-secondary-bg);

        /* margin-left: calc(-1 * var(--option-width)); */
        background-color: transparent;
    }

    /* &:first-child { */

    /*    width: calc( */

    /*        (100% - var(--thumb-width)) / (6 * 2) + var(--thumb-width) / 2 */

    /*    ); */

    /*    text-align: left; */

    /*    &::before { */

    /*        left: 0; */

    /*        margin-left: unset; */

    /*    } */

    /* } */

    /* &:last-child { */

    /*    width: calc((100% - 12px) / (6 * 2) + 6px); */

    /*    &::before { */

    /*        left: unset; */

    /*        margin-left: unset; */

    /*        right: 0; */

    /*    } */

    /* } */
}

.accordion {
    overflow: hidden;
    border-radius: var(--bs-accordion-border-radius);
}
