[data-show], [data-show].row, [data-show].card, [data-show].d-flex {
    display: none!important;
}

[data-toogle]:has([value="datum"]:checked) ~ [data-show="datum"]:not(.row) {
    display: block!important;
}

[data-toogle]:has([value="datum"]:checked) ~ [data-show="datum"].row {
    display: flex!important;
}

[data-toogle]:has([value="manuell"]:checked) ~ [data-show="manuell"] {
    display: block!important;
}

form:has(#kr_j:checked) [data-optional][data-show="ja"] {
    display: block!important;
}

form:has(#zusatzfragen_ja:checked) [data-detail][data-show="ja"] {
    display: block!important;
}

.alert-danger {
    display: none;
    --bs-alert-bg: var(--bs-danger-text-emphasis);
    --bs-alert-color: #000000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}
.alert-warning {
    display: none;
    --bs-alert-bg: var(--bs-warning-text-emphasis);
    --bs-alert-color: #000000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}
