/* fixes for menu to work work with <details> */
.nav-item details[open] .dropdown-details-menu {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: calc(.125rem + var(--bs-dropdown-padding-y, 0));
}

.nav-item details[open] ul {
    padding: var(--bs-dropdown-padding-y, 0) var(--bs-dropdown-padding-x, 0);
    list-style: none;
}

.navbar-nav {
    gap: 1rem;
}

.card a.navbar-brand {
    --bs-navbar-brand-color: var(--bs-primary-text-emphasis);
    color: var(--bs-navbar-brand-color);
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
    border-color: var(--bs-btn-hover-border-color);
    background-color: var(--bs-btn-hover-bg);
    color: var(--bs-btn-hover-color);
}

.nav-pills .nav-link:active {
    border-color: var(--bs-btn-active-border-color);
    background-color: var(--bs-btn-active-bg);
    color: var(--bs-btn-active-color);
}
