[data-show], [data-show].row, [data-show].card {
    display: none;
}

[data-toogle]:has([value="1"]:checked) ~ [data-show="1"] {
    display: block;
}

[data-toogle]:has([value="1"]:checked) ~ [data-show="1"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"],
[data-toogle]:has([value="2"]:checked) ~ [data-show="1"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"],
[data-toogle]:has([value="3"]:checked) ~ [data-show="1"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"],
[data-toogle]:has([value="4"]:checked) ~ [data-show="1"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"],
[data-toogle]:has([value="5"]:checked) ~ [data-show="1"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"] {
    display: block;
}

[data-toogle]:has([value="2"]:checked) ~ [data-show="1"],
[data-toogle]:has([value="2"]:checked) ~ [data-show="2"] {
    display: block;
}

[data-toogle]:has([value="2"]:checked) ~ [data-show="2"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"],
[data-toogle]:has([value="3"]:checked) ~ [data-show="2"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"],
[data-toogle]:has([value="4"]:checked) ~ [data-show="2"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"],
[data-toogle]:has([value="5"]:checked) ~ [data-show="2"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"] {
    display: block;
}

[data-toogle]:has([value="3"]:checked) ~ [data-show="1"],
[data-toogle]:has([value="3"]:checked) ~ [data-show="2"],
[data-toogle]:has([value="3"]:checked) ~ [data-show="3"] {
    display: block;
}

[data-toogle]:has([value="3"]:checked) ~ [data-show="3"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"],
[data-toogle]:has([value="4"]:checked) ~ [data-show="3"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"],
[data-toogle]:has([value="5"]:checked) ~ [data-show="3"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"] {
    display: block;
}

[data-toogle]:has([value="4"]:checked) ~ [data-show="1"],
[data-toogle]:has([value="4"]:checked) ~ [data-show="2"],
[data-toogle]:has([value="4"]:checked) ~ [data-show="3"],
[data-toogle]:has([value="4"]:checked) ~ [data-show="4"] {
    display: block;
}

[data-toogle]:has([value="4"]:checked) ~ [data-show="4"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"],
[data-toogle]:has([value="5"]:checked) ~ [data-show="4"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"] {
    display: block;
}

[data-toogle]:has([value="5"]:checked) ~ [data-show="1"],
[data-toogle]:has([value="5"]:checked) ~ [data-show="2"],
[data-toogle]:has([value="5"]:checked) ~ [data-show="3"],
[data-toogle]:has([value="5"]:checked) ~ [data-show="4"],
[data-toogle]:has([value="5"]:checked) ~ [data-show="5"] {
    display: block;
}

[data-toogle]:has([value="5"]:checked) ~ [data-show="5"]:has([data-toogle] [value="ja"]:checked) [data-show="ja"] {
    display: block;
}

form:has(#kr_j:checked) [data-optional][data-show="ja"] {
    display: block;
}

form:has(#zusatzfragen_ja:checked) [data-detail][data-show="ja"] {
    display: block;
}

.alert-danger {
    display: none;
    --bs-alert-bg: var(--bs-danger-text-emphasis);
    --bs-alert-color: #000000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}
.alert-warning {
    display: none;
    --bs-alert-bg: var(--bs-warning-text-emphasis);
    --bs-alert-color: #000000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}
