[data-show], [data-show].row, [data-show].card, [data-show].d-flex {
    display: none;
}

[data-toggle]:has([value="datum"]:checked) ~ [data-show="datum"]:not(.row) {
    display: block;
}

[data-toggle]:has([value="1"]:checked) ~ [data-show="1"] {
    display: block;
}

[data-toggle]:has([value="1"]:checked) ~ [data-show="1"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"],
[data-toggle]:has([value="2"]:checked) ~ [data-show="1"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"],
[data-toggle]:has([value="3"]:checked) ~ [data-show="1"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"],
[data-toggle]:has([value="4"]:checked) ~ [data-show="1"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="1"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"] {
    display: block;
}

[data-toggle]:has([value="2"]:checked) ~ [data-show="1"],
[data-toggle]:has([value="2"]:checked) ~ [data-show="2"] {
    display: block;
}

[data-toggle]:has([value="2"]:checked) ~ [data-show="2"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"],
[data-toggle]:has([value="3"]:checked) ~ [data-show="2"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"],
[data-toggle]:has([value="4"]:checked) ~ [data-show="2"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="2"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"] {
    display: block;
}

[data-toggle]:has([value="3"]:checked) ~ [data-show="1"],
[data-toggle]:has([value="3"]:checked) ~ [data-show="2"],
[data-toggle]:has([value="3"]:checked) ~ [data-show="3"] {
    display: block;
}

[data-toggle]:has([value="3"]:checked) ~ [data-show="3"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"],
[data-toggle]:has([value="4"]:checked) ~ [data-show="3"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="3"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"] {
    display: block;
}

[data-toggle]:has([value="4"]:checked) ~ [data-show="1"],
[data-toggle]:has([value="4"]:checked) ~ [data-show="2"],
[data-toggle]:has([value="4"]:checked) ~ [data-show="3"],
[data-toggle]:has([value="4"]:checked) ~ [data-show="4"] {
    display: block;
}

[data-toggle]:has([value="4"]:checked) ~ [data-show="4"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="4"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"] {
    display: block;
}

[data-toggle]:has([value="5"]:checked) ~ [data-show="1"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="2"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="3"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="4"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="5"] {
    display: block;
}

[data-toggle]:has([value="5"]:checked) ~ [data-show="5"]:has([data-toggle] [value="ja"]:checked) [data-show="ja"] {
    display: block;
}

form:has(#kr_j:checked) [data-optional][data-show="ja"] {
    display: block;
}

form:has(#ausfall_j:checked) [data-ausfall][data-show="ja"] {
    display: block;
}

[data-toggle]:has([value="3000"]:checked) ~ [data-show="3000"],
[data-toggle]:has([value="5000"]:checked) ~ [data-show="3000"],
[data-toggle]:has([value="10000"]:checked) ~ [data-show="3000"],
[data-toggle]:has([value="20000"]:checked) ~ [data-show="3000"],
[data-toggle]:has([value="50000"]:checked) ~ [data-show="3000"],
[data-toggle]:has([value="100000"]:checked) ~ [data-show="3000"] {
    display: block;
}

form:has(#zusatzfragen_ja:checked) [data-detail][data-show="ja"] {
    display: block;
}
