.alert-danger {
    display: none;
    --bs-alert-bg: var(--bs-danger-text-emphasis);
    --bs-alert-color: #000000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}
.alert-warning {
    display: none;
    --bs-alert-bg: var(--bs-warning-text-emphasis);
    --bs-alert-color: #000000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}

.container[id="rl-start"] {
    display: block;

    container-type: inline-size;
    container-name: rl;
}

.card:has(> .calculation-container) {
    --bs-card-bg: #f4f4f4;
}

.calculation-container {
    display: grid;
    grid-template-columns: [form-start button-start] 6fr [form-end result-start head-start graph-start overview-start change-start] 4fr [graph-end inflation-start] 2fr [result-end button-end head-end inflation-end overview-end change-end];
    grid-template-rows: [form-start result-start head-start] auto [head-end graph-start inflation-start] auto [graph-end inflation-end overview-start] auto [form-end result-end overview-end change-start] auto [change-end button-start] auto [button-end];

    gap: 0.5rem;
}

@container rl (max-width: 800px) {
    .calculation-container {
        grid-template-columns: [result-start form-start button-start head-start graph-start overview-start change-start] 8fr [graph-end inflation-start] 4fr [result-end form-end button-end head-end inflation-end overview-end change-end];
        grid-template-rows: [result-start head-start] auto [head-end graph-start inflation-start] auto [graph-end inflation-end overview-start] auto [overview-end change-start] auto [change-end result-end form-start] auto [form-end button-start] auto [button-end];
    }
}

.text-wrapper, .calculation-container {
    width: 100%;
}
.text-wrapper {
    padding: 1.25rem;
    text-align: left;
}
.text-wrapper .headline {
    margin-bottom: 2.9375rem;
    font-size: 1.625rem;
    font-weight: 600;
    color: var(--vt-form-color, #212529);
}
.form-container {
    --bs-card-title-spacer-y: 35px;
    --bs-card-title-color: #212529;

    grid-area: form;

    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;

    & .card-title {
        font-size: 1.25rem;
        font-weight: 300;
    }
}
.result-container {
    grid-area: result;

    display: grid;
    gap: 0.5rem;
    grid-template-areas:
                    'head head'
                    'graph inflation'
                    'overview overview';
    grid-auto-rows: min-content;
    grid-template-columns: 6fr 4fr;
}
.button-container {
    grid-area: button;

    margin: 0.5rem auto;
}
.button-container .btn {
    --bs-btn-bg: #000;
    --bs-btn-color: #fff;
    --bs-btn-border-color: #000;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #000;
    --bs-btn-line-height: 1.25;
    --bs-btn-font-weight: 300;
    --bs-btn-font-size: 1.125rem;
    --bs-btn-padding-y: 13px;
    --bs-btn-padding-x: 12px;

    width: 100%;
}
:is(.form-container, .result-container) .headline {
    padding-bottom: 2.1875rem;
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--vt-form-color, #212529);
}
.result-container .result-headline {
    grid-area: head;
    height: fit-content;
}
.circular-chart {
    grid-area: graph;
    margin: 0.625rem auto;
    width: 75%;
    height: 75%;
}
.circular-chart .circle-bg {
    fill: none;
    stroke-width: 1.5;
    transform: rotate(-90deg);
    transform-origin: center;
}
.circular-chart .circle-bg.secondary {
    stroke: #2cc1d5;
    stroke-dasharray: 0, 100;
}
.circular-chart .circle-bg.secondary-bg {
    stroke: #ff1f00;
    stroke-dasharray: 101, 101;
}
.circular-chart .circle-bg.primary {
    stroke: #005e97;
    stroke-dasharray: 0, 100;
}
.circular-chart .circle-bg.primary-bg {
    stroke: #c9c9c9;
}
.circular-chart .circle-info {
    font-weight: bold;
    font-size: 8px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #ff1f00;
}
.circular-chart .circle-info.circle-percent {
    text-anchor: end;
}
.result-inflation {
    grid-area: inflation;

    display: grid;
    gap: .2rem;
    grid-template-areas:
                    'label label'
                    'switch button';
    grid-auto-flow: row;
    height: fit-content;
}
.inflation-label {
    grid-area: label;
    height: fit-content;
}
.inflation-switch {
    grid-area: switch;
    height: fit-content;
}
.inflation-settings {
    grid-area: button;
    color: #999;
    text-decoration: none;
    background-color: var(--bs-body-bg, #ffffff);
    width: fit-content;
    height: fit-content;
    padding: 0;
    border-color: transparent;
}
.inflation-settings svg {
    margin: auto;
}
.result-list {
    grid-area: overview;
}
.result-change {
    grid-area: change;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.result-list li {
    border-left: 4px solid #ebecee;
    border-top: 1px solid #ebecee;
    padding: 1.25rem 0.3125rem;
    line-height: 1.25rem;
    color: #495057;
}
.result-list li.chart-amount-1 {
    color: #2cc1d5;
    border-left-color: #2cc1d5;
}
.result-list li.chart-amount-2 {
    color: #005e97;
    border-left-color: #005e97;
}
.result-list li.chart-amount-3 {
    color: #ff1f00;
    border-left-color: #ff1f00;
}
.result-list li.chart-amount-box .amount {
    font-weight: 700;
    font-size: 1.25rem;
}

/*
.container[id] {
    display: none;
}
.container[id]:target {
    display: block;
}

.row > * {
    flex-shrink: unset;
}

.col-12 {
    width: calc(100% - 1rem);
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-control:has([type="checkbox"]):focus,
.form-floating > .form-control:has([type="checkbox"]):not(:placeholder-shown),
.form-floating > .form-control-plaintext:has([type="checkbox"]):focus,
.form-floating > .form-control-plaintext:has([type="checkbox"]):not(:placeholder-shown) {
    padding-top: 0.95rem;
    padding-bottom: 0.95rem;
}
.form-control:not(:placeholder-shown):not(:focus):user-invalid, .form-control:out-of-range {
    border-color: var(--bs-form-invalid-color, #842029);
}
.form-container :invalid~.invalid-feedback,
.was-edited:invalid~.invalid-feedback,
.form-container [min][max]:out-of-range~.invalid-min-max-feedback:not(:is(.age-63, .age-65, .age-67)),
.was-edited[min][max]:out-of-range~.invalid-min-max-feedback:not(:is(.age-63, .age-65, .age-67)),
.form-container [min]:not([max]):out-of-range~.invalid-min-feedback,
.was-edited[min]:not([max]):out-of-range~.invalid-min-feedback,
.form-container:has(.form-control:user-invalid, .form-select:user-invalid) .alert-warning,
.card-body:has(.form-control:user-invalid, .form-select:user-invalid) .alert-warning {
    display: block;
}
form:has(.rente [value="63"]:checked) :out-of-range~.invalid-min-max-feedback.age-63 {
    display: block;
}
form:has(.rente [value="65"]:checked) :out-of-range~.invalid-min-max-feedback.age-65 {
    display: block;
}
form:has(.rente :is([value=""], [value="67"]):checked) :out-of-range~.invalid-min-max-feedback.age-67 {
    display: block;
}
.form-floating>label {
    width: 100%;
}
.invalid-feedback, .invalid-min-max-feedback, .invalid-min-feedback, .invalid-age-feedback {
    display: none;
    width: 100%;
    color: var(--bs-form-invalid-color, #dc3545);
}
.optional~.form-text, .inline-block~.form-text {
    padding: 0.25rem 0.75rem 0.25rem 0;
}
.pensions-available {
}
.text-center {
    text-align: center;
}
.form-switch {
    margin-right: 1rem;
}
.form-floating .form-check, .form-switch {
    display: inline-block;
    margin-right: 1rem;
    min-height: 1.5rem;
    padding-left: 2.5em;
    margin-bottom: 0.125rem;
}
.form-floating .form-check:not(.form-check-inline) {
    display: flex;
    flex-wrap: nowrap;
    min-height: 1.5rem;
    line-height: 100%;
    align-items: center;
    gap: 0.5rem;
}
.form-check-input[type=radio] {
    border-radius: 50%;
}
.form-check .form-check-input, .form-switch .form-check-input {
    float: left;
    margin-left: -1.5em;
}
.form-switch .form-check-input {
    width: 2em;
    margin-left: -2.5em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
input[type=checkbox], input[type=radio] {
    position: static;
    margin-left: 0;
}
.btn:hover {
    text-decoration: none;
}
.btn {
    --bs-btn-border-radius: var(--bs-border-radius);
}
.modal {
    border: none;
    padding: 0;
    overflow: hidden;
}
.modal[open] {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    outline: 0;
}
.modal-header, .modal-footer {
    border: none;
}
.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
.btn-close:not(.btn-rente-refresh) {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000000;
    background: rgba(0,0,0,0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}
.btn-rente-refresh {
    width: fit-content;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.slider-container {
    width: 100%;
    position: relative;
    margin-top: 1.9375rem;
}
.slider-container .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: #ebecee;
    outline: none;
    opacity: .75;
    transition: opacity .2s;
}
.slider-container .slider-tooltip {
    width: auto;
    height: auto;
    padding: 0.1875rem 0.625rem;
    position: absolute;
    bottom: 1.5625rem;
    left: 50%;
    text-align: center;
    font-size: 0.875rem;
    color: #ffffff;
    white-space: nowrap;
    background-color: #212529;
    border-radius: 0.1875rem;
}
.slider-container .slider-tooltip:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.375rem 0.40625rem 0 0.40625rem;
    border-color: #212529 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
    position: absolute;
    top: 100%;
    left: calc(50% - 0.40625rem);
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
}
.justify-content-between {
    justify-content: space-between !important;
}
.text-end {
    text-align: end !important;
}
/**/
