[data-show], [data-show].row, [data-show].card {
    display: none;
}

[data-toggle]:has([value="1"]:checked) ~ [data-show="1"],
[data-toggle]:has([value="2"]:checked) ~ [data-show="1"],
[data-toggle]:has([value="3"]:checked) ~ [data-show="1"],
[data-toggle]:has([value="4"]:checked) ~ [data-show="1"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="1"],
[data-toggle]:has([value="6"]:checked) ~ [data-show="1"] {
    display: flex;
}

[data-toggle]:has([value="2"]:checked) ~ [data-show="2"],
[data-toggle]:has([value="3"]:checked) ~ [data-show="2"],
[data-toggle]:has([value="4"]:checked) ~ [data-show="2"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="2"],
[data-toggle]:has([value="6"]:checked) ~ [data-show="2"] {
    display: flex;
}

[data-toggle]:has([value="3"]:checked) ~ [data-show="3"],
[data-toggle]:has([value="4"]:checked) ~ [data-show="3"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="3"],
[data-toggle]:has([value="6"]:checked) ~ [data-show="3"] {
    display: flex;
}

[data-toggle]:has([value="4"]:checked) ~ [data-show="4"],
[data-toggle]:has([value="5"]:checked) ~ [data-show="4"],
[data-toggle]:has([value="6"]:checked) ~ [data-show="4"] {
    display: flex;
}

[data-toggle]:has([value="5"]:checked) ~ [data-show="5"],
[data-toggle]:has([value="6"]:checked) ~ [data-show="5"] {
    display: flex;
}

[data-toggle]:has([value="6"]:checked) ~ [data-show="6"] {
    display: flex;
}

[data-toggle]:has([value="Familie"]:checked) ~ [data-show="Paar"],
[data-toggle]:has([value="Paar"]:checked) ~ [data-show="Paar"] {
    display: flex;
}

form:has(#kr_j:checked) [data-optional][data-show="ja"] {
    display: block;
}

form:has(#zusatzfragen_ja:checked) [data-detail][data-show="ja"] {
    display: block;
}

.form-container :valid~.valid-feedback {
    display: block;
}

.form-container :invalid~:is(.invalid-feedback, .invalid-tooltip),
:is(.form-container [min][max]:out-of-range, .was-edited[min][max]:out-of-range)~.invalid-min-max-feedback,
:is(.form-container [min]:not([max]):out-of-range, .was-edited[min]:not([max]):out-of-range, .card.has-validation:has(.form-control.is-invalid[min]:not([max]):out-of-range, .form-select.is-invalid[min]:not([max]):out-of-range))~.invalid-min-feedback,
:is(.form-container [max]:not([mmin]):out-of-range, .was-edited[max]:not([min]):out-of-range, .card.has-validation:has(.form-control.is-invalid[max]:not([min]):out-of-range, .form-select.is-invalid[max]:not([min]):out-of-range))~.invalid-max-feedback,
.form-container:has(.form-control:user-invalid, .form-select:user-invalid) .alert-warning {
    display: block;
}

.checkbox-group {
    display: grid;
    gap: 0.25rem;
    grid-auto-rows: 1fr;
    grid-template-columns: calc(1/6 * 100%) repeat(5, 1fr) calc(1/6 * 100%);

    & ~ .toast {
        --bs-toast-max-width: 66.66666667%;
    }

    &:has([data-toggle="p"]:is(:focus)) ~ .toast[data-show="p"] {
        display: block;
    }

    &:has([data-toggle="b"]:is(:focus)) ~ .toast[data-show="b"] {
        display: block;
    }

    &:has([data-toggle="f"]:is(:focus)) ~ .toast[data-show="f"] {
        display: block;
    }

    &:has([data-toggle="m"]:is(:focus)) ~ .toast[data-show="m"] {
        display: block;
    }

    &:has([data-toggle="v"]:is(:focus)) ~ .toast[data-show="v"] {
        display: block;
    }
}

.tile-wrapper {
    --bs-box-shadow: 0 5px 10px rgba(0,0,0,.1);
    --bs-card-border-width: 2px;
    --checked-color: rgb(34, 96, 255);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    & .form-check {
        padding: 0;
        margin: 0;
    }

    & .btn-tile {
        --bs-btn-hover-bg: var(--bs-btn-bg);
        --bs-btn-active-bg: var(--bs-btn-bg);
        --bs-btn-padding-y: 0;
        --bs-btn-padding-x: 0;

        width: 10rem;
        height: 10rem;
        box-shadow: var(--bs-box-shadow);
        border-width: var(--bs-card-border-width);
        border-style: solid;
        border-color: var(--bs-card-border-color);
        position: relative;
        transition: 0.15s ease;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 1.25rem;
            height: 1.25rem;
            border: 2px solid #b5bfd9;
            background-color: #fff;
            border-radius: 50%;
            top: 0.25rem;
            left: 0.25rem;
            opacity: 0;
            transform: scale(0);
            transition: 0.25s ease;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        &:hover {
            border-color: var(--checked-color);
            box-shadow: 0 5px 10px rgba(34, 96, 255, 0.2), 0 0 0 4px #b5c9fc;
            color: var(--checked-color);

            &:before {
                transform: scale(1);
                opacity: 1;
            }

            & .checkbox-icon,
            & .checkbox-label {
                color: var(--checked-color);
            }
        }

        &:has(:checked) {
            border-color: var(--checked-color);
            box-shadow: 0 5px 10px rgba(34, 96, 255, 0.2), 0 0 0 4px #b5c9fc;
            color: var(--checked-color);

            &::before {
                transform: scale(1);
                opacity: 1;
                background-color: var(--checked-color);
                border-color: var(--checked-color);
            }

            .checkbox-icon, .checkbox-label {
                color: var(--checked-color);
            }
        }
    }

    & .btn-tile.btn:has(> .checkbox-icon),
    & .btn-tile .btn,
    & .btn-tile .form-check-label,
    & .btn-tile span {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .checkbox-icon {
            transition: .375s ease;
            color: #494949;

            & svg {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    & .btn-tile .btn,
    & .btn-tile .form-check-label,
    & .btn-tile span {
        height: 100%;
        width: 100%;
    }
}
