[data-show], [data-show].row, [data-show].card {
    display: none;
}

form:has(#kr_j:checked) [data-optional][data-show="ja"] {
    display: block;
}

form:has(#zusatzfragen_ja:checked) [data-detail][data-show="ja"] {
    display: block;
}

.alert-danger {
    display: none;
    --bs-alert-bg: var(--bs-danger-text-emphasis);
    --bs-alert-color: #000000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}
.alert-warning {
    display: none;
    --bs-alert-bg: var(--bs-warning-text-emphasis);
    --bs-alert-color: #000000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}

.form-container :valid~.valid-feedback {
    display: block;
}

.form-container :invalid~:is(.invalid-feedback, .invalid-tooltip),
:is(.form-container [min][max]:out-of-range, .was-edited[min][max]:out-of-range)~.invalid-min-max-feedback,
:is(.form-container [min]:not([max]):out-of-range, .was-edited[min]:not([max]):out-of-range, .card.has-validation:has(.form-control.is-invalid[min]:not([max]):out-of-range, .form-select.is-invalid[min]:not([max]):out-of-range))~.invalid-min-feedback,
:is(.form-container [max]:not([mmin]):out-of-range, .was-edited[max]:not([min]):out-of-range, .card.has-validation:has(.form-control.is-invalid[max]:not([min]):out-of-range, .form-select.is-invalid[max]:not([min]):out-of-range))~.invalid-max-feedback,
.form-container:has(.form-control:user-invalid, .form-select:user-invalid) .alert-warning {
    display: block;
}
