/* default site structure */
.wrapper {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: grid;
    gap: 0;
    grid-template-areas:
                    'header'
                    'main'
                    'footer';
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;

    & > header {
        grid-area: header;
    }

    & > main {
        grid-area: main;
    }

    & > footer {
        grid-area: footer;
        bottom: 0;
    }
}

:is(header, footer) .card-body {
    --bs-card-spacer-y: 0.2rem;
    --bs-card-spacer-x: 0.2rem;
}

/* new container */
.container {
    width: auto;
    max-width: 100%;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

/* fixes for accordeon to work work with <details> */
.accordion-item:not([open]) .accordion-button {
    background-color: var(--bs-accordion-bg);
}

.accordion-item:not([open]):last-of-type .accordion-button {
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
}

.accordion-item:not([open]) .accordion-button::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: unset;
}

.accordion-item[open] .accordion-button::after {
    background-image: var(--bs-accordion-btn-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}

/* fixes for menu to work work with <details> */
.nav-item details[open] .dropdown-details-menu {
    display: block;
    position: absolute;
    left: 0;
    margin-top: calc(.125rem + var(--bs-dropdown-padding-y, 0));
    width: 100%;
}

.nav-item details[open] ul {
    list-style: none;
    padding: var(--bs-dropdown-padding-y, 0) var(--bs-dropdown-padding-x, 0);
}

/* fixes for forms to work with <legend> */
legend.form-label, legend.card-title {
    display: inline-block;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .card {
    padding-top: 1.625rem;
    padding-bottom: 0;
}

.form-floating > legend.form-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 1rem 0.75rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: var(--bs-border-width) solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;

    color: rgba(var(--bs-emphasis-color-rgb), .65);
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

/* fix for forms when placing .form-check inside a .form-control using floating labels */
.form-floating > .form-control,
.form-floating > .card {
    height: fit-content;
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
    background-color: inherit;
    border-radius: inherit;
}

/* fix for form validation */
.was-validated .form-check-input:invalid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label,
.was-validated .form-check-label:has(.form-check-input:invalid, .form-check-input:valid),
.form-check-input.is-invalid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label,
.form-check-label:has(.form-check-input.is-invalid, .form-check-input.is-valid) {
    color: var(--bs-emphasis-color);
}
.was-validated .form-control:has(:valid),
.was-validated .card.has-validation:not(:has(.form-control, .form-select)):not(:has(.form-control.is-invalid, .form-select.is-invalid)):has(:valid),
.was-validated:has(> .form-check) .form-check:not(.form-check-inline):has(:valid) {
    border-color: var(--bs-form-valid-color, #198754);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .form-control:has(:invalid),
.was-validated .card.has-validation:not(:has(.form-control, .form-select)):has(:invalid),
.was-validated:has(> .form-check) .form-check:not(.form-check-inline):has(:invalid) {
    border-color: var(--bs-form-invalid-color, #dc3545);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* add symbol to required fields - does not work with horizontal form */
:is(:required, .required):not(:placeholder-shown) ~ :is(label:not(.form-check-label), .form-label)::after,
:is(label:not(.form-check-label), .form-label):has(~ :is(:required, .required))::after,
.form-floating > :is(:required, .required) ~ :is(label:not(.form-check-label), .form-label)::after,
.form-floating > :is(:required, .required):not(:placeholder-shown) ~ :is(label:not(.form-check-label), .form-label)::after {
    position: absolute;
    content: ' *';
    color: var(--bs-form-invalid-color);
    padding-left: 0.25rem;
    inset: unset;
}
:is(label:not(.form-check-label), .form-label):has(~ .input-group:has(:is(:required, .required)))::after {
    position: absolute;
    content: ' *';
    color: var(--bs-form-invalid-color);
    padding-left: 0.25rem;
    inset: unset;
}
.text-info-required sup {
    color: var(--bs-form-invalid-color);
}

.form-control, .form-select , .card .row {
    position: relative;
}

.card,
.card-body {
    --bs-card-color: var(--bs-primary-text-emphasis);
    --bs-card-cap-color: var(--bs-primary-text-emphasis);
    color: var(--bs-card-color);
}

.navbar-nav {
    gap: 1rem;
}

.card a.navbar-brand {
    --bs-navbar-brand-color: var(--bs-primary-text-emphasis);
    color: var(--bs-navbar-brand-color);
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    color: var(--bs-btn-hover-color);
}

.nav-pills .nav-link:active {
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
    color: var(--bs-btn-active-color);
}

.form-select {
    color: var(--bs-emphasis-color);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
    color: var(--bs-emphasis-color-rgb);
}

/* fix for rows inside cards */
.card .col,
.card .col-2,
.card .col-8,
.card .col-12,
.card .card-body:has(> .form-check) {
    flex-shrink: unset;
    flex-grow: unset;
}

.card.has-validation:has(.form-control, .form-select) .card-body {
    --bs-card-spacer-y: 0;
    --bs-card-spacer-x: 0;
}

.card.has-validation {
    box-shadow: none;
}

/* new checkboxes */
.checkbox-group {
    display: grid;
    gap: 0.25rem;
    grid-auto-rows: 1fr;
    grid-template-columns: calc(1/6 * 100%) repeat(5, 1fr) calc(1/6 * 100%);
}

.checkbox {
    --checked-color: rgb(34, 96, 255);
}

.checkbox,
.checkbox .card-body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.checkbox-input {
    /* Code to hide the input */
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:checked + .checkbox-tile {
        border-color: var(--checked-color);
        box-shadow: 0 5px 10px rgba(34, 96, 255, 0.2), 0 0 0 4px #b5c9fc;
        color: var(--checked-color);

        &::before {
            transform: scale(1);
            opacity: 1;
            background-color: var(--checked-color);
            border-color: var(--checked-color);
        }

        .checkbox-icon, .checkbox-label {
            color: var(--checked-color);
        }
    }

    &:focus + .checkbox-tile {
        border-color: var(--checked-color);
        box-shadow: 0 5px 10px rgba(34, 96, 255, 0.2), 0 0 0 4px #b5c9fc;
        color: var(--checked-color);

        &::before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.checkbox-icon {
    transition: .375s ease;
    color: #494949;

    & svg {
        width: 3rem;
        height: 3rem;
    }
}

.checkbox-label {
    color: #707070;
    transition: .375s ease;
    text-align: center;
}

.checkbox-tile {
    --bs-card-border-width: 2px;
    --bs-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    transition: 0.15s ease;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        border-radius: 50%;
        top: 0.25rem;
        left: 0.25rem;
        opacity: 0;
        transform: scale(0);
        transition: 0.25s ease;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &:hover {
        border-color: var(--checked-color);
        box-shadow: 0 5px 10px rgba(34, 96, 255, 0.2), 0 0 0 4px #b5c9fc;
        color: var(--checked-color);

        &:before {
            transform: scale(1);
            opacity: 1;
        }

        & .checkbox-icon,
        & .checkbox-label {
            color: var(--checked-color);
        }
    }
}

/* fix for modals when using a <dialog> element */
dialog[open] {
    display: block;
    height: max-content;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal[open] {
    width: var(--bs-modal-width);
    border: none;
    background-color: transparent;
    padding: 0;

    & .modal-dialog {
        margin: 0;
    }
}

/* fix for validation messages */
:is(.invalid-feedback, .invalid-min-max-feedback, .invalid-min-feedback, .invalid-max-feedback, .invalid-tooltip) {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

:is(.invalid-feedback, .invalid-min-max-feedback, .invalid-min-feedback, .invalid-max-feedback, .invalid-tooltip) :is(ul, ol) {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 0;
}

:is(.valid-feedback, .valid-tooltip):not(:has(ul, ol)),
:is(.valid-feedback, .valid-tooltip) :is(ul, ol) li {
    list-style: none;
    padding-left: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

:is(.invalid-feedback, .invalid-min-max-feedback, .invalid-min-feedback, .invalid-max-feedback, .invalid-tooltip):not(:has(ul, ol)),
:is(.invalid-feedback, .invalid-min-max-feedback, .invalid-min-feedback, .invalid-max-feedback, .invalid-tooltip) :is(ul, ol) li {
    list-style: none;
    color: var(--bs-form-invalid-color);
    padding-left: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-edited:valid~.valid-feedback,
.card.has-validation:has(.form-control, .form-select):has(:valid)~.valid-feedback,
.card.has-validation:has(.form-control.is-valid, .form-select.is-valid)~.valid-feedback {
    display: block;
}

.was-edited:invalid~:is(.invalid-feedback, .invalid-tooltip),
.card.has-validation:has(.form-control, .form-select):has(:invalid)~:is(.invalid-feedback, .invalid-tooltip),
.card.has-validation:has(.form-control.is-invalid, .form-select.is-invalid)~:is(.invalid-feedback, .invalid-tooltip),
.card-body:has(.form-control:user-invalid, .form-select:user-invalid) .alert-warning {
    display: block;
}

.input-group>:not(:last-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback),
.input-group>:not(:last-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: calc(var(--bs-border-width)*-1);
}
