/* default site structure */
.wrapper {
    display: grid;
    position: relative;
    grid-auto-rows: min-content;
    grid-template-areas:
                    'header'
                    'main'
                    'footer';
    grid-template-columns: 1fr;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    gap: 0;

    & > header {
        grid-area: header;
    }

    & > main {
        grid-area: main;
    }

    & > footer {
        bottom: 0;
        grid-area: footer;
    }
}

:is(header, footer) .card-body {
    --bs-card-spacer-y: 0.2rem;
    --bs-card-spacer-x: 0.2rem;
}

/* new container */
.container {
    width: auto;
    max-width: 100%;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

/* fixes for forms to work with <legend> */
legend.form-label, legend.card-title, legend.col-form-label {
    display: inline-block;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .card {
    padding-top: 1.625rem;
    padding-bottom: 0;
}

.form-floating > legend.form-label {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    overflow: hidden;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    border: var(--bs-border-width) solid transparent;
    color: rgba(var(--bs-emphasis-color-rgb), .65);
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

/* fix for forms when placing .form-check inside a .form-control using floating labels */
.form-floating > .form-control,
.form-floating > .card {
    height: fit-content;
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
    border-radius: inherit;
    background-color: inherit;
}

/* add symbol to required fields */

/* for vertical forms without floating labels */
:is(:required, .required):not(:placeholder-shown) ~ :is(label:not(.form-check-label), .form-label)::after,
:is(label:not(.form-check-label), .form-label):has(~ :is(:required, .required))::after,
/* for vertical forms with floating labels */
.form-floating > :is(:required, .required) ~ :is(label:not(.form-check-label), .form-label)::after,
.form-floating > :is(:required, .required):not(:placeholder-shown) ~ :is(label:not(.form-check-label), .form-label)::after,
/* for horizontal forms */
.row:has(:is(:required, .required)) > :is(label:not(.form-check-label), .col-form-label)::after {
    content: ' *';
    position: absolute;
    padding-left: 0.25rem;
    color: var(--bs-form-invalid-color);
    inset: unset;
}

:is(label:not(.form-check-label), .form-label):has(~ .input-group:has(:is(:required, .required)))::after {
    content: ' *';
    position: absolute;
    padding-left: 0.25rem;
    color: var(--bs-form-invalid-color);
    inset: unset;
}

.text-info-required sup {
    color: var(--bs-form-invalid-color);
}

.form-control, .form-select , .card .row {
    position: relative;
}

.card,
.card-body {
    --bs-card-color: var(--bs-primary-text-emphasis);
    --bs-card-cap-color: var(--bs-primary-text-emphasis);
    color: var(--bs-card-color);
}

.form-select {
    color: var(--bs-emphasis-color);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
    color: var(--bs-emphasis-color-rgb);
}

/* fix for rows inside cards */
.card .col,
.card .col-2,
.card .col-8,
.card .col-12,
.card .card-body:has(> .form-check) {
    flex-grow: unset;
    flex-shrink: unset;
}

.card.has-validation:has(.form-control, .form-select) .card-body {
    --bs-card-spacer-y: 0;
    --bs-card-spacer-x: 0;
}

.card {
    box-shadow: var(--bs-box-shadow);
}

/* fix for modals when using a <dialog> element */
dialog[open] {
    display: block;
}

dialog[open]:not(:has(.modal-dialog-scrollable)) {
    height: max-content;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

.modal[open] {
    width: var(--bs-modal-width);
    margin: auto;
    padding: 0;
    border: none;
    background-color: transparent;

    & .modal-dialog {
        margin: 0;
    }

    & .modal-dialog-scrollable {
        height: 100%;
    }
}

.input-group>:not(:last-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback),
.input-group>:not(:last-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) .form-control {
    margin-right: calc(var(--bs-border-width)*-1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
