/* fix for form validation */
.was-validated .form-check-input:invalid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label,
.was-validated .form-check-label:has(.form-check-input:invalid, .form-check-input:valid),
.form-check-input.is-invalid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label,
.form-check-label:has(.form-check-input.is-invalid, .form-check-input.is-valid) {
    color: var(--bs-emphasis-color);
}

.was-edited:valid,
.form-control:has(.form-check-input.is-valid),
.was-validated .form-control:has(:valid, .is-valid),
.was-validated .card.has-validation:not(:has(.form-control, .form-select)):not(:has(.form-control.is-invalid, .form-select.is-invalid)):has(:valid),
.was-validated:has(> .form-check) .form-check:not(.form-check-inline):has(:valid) {
    border-color: var(--bs-form-valid-color, #198754);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-edited:invalid,
.form-control:has(.form-check-input.is-invalid),
.was-validated .form-control:has(:invalid),
.was-validated .card.has-validation:not(:has(.form-control, .form-select)):has(:invalid),
.was-validated:has(> .form-check) .form-check:not(.form-check-inline):has(:invalid) {
    border-color: var(--bs-form-invalid-color, #dc3545);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* fix for validation messages */
:is(.invalid-feedback, .invalid-min-max-feedback, .invalid-min-feedback, .invalid-max-feedback, .invalid-tooltip) {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

:is(.invalid-feedback, .invalid-min-max-feedback, .invalid-min-feedback, .invalid-max-feedback, .invalid-tooltip) :is(ul, ol) {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 0;
}

:is(.valid-feedback, .valid-tooltip):not(:has(ul, ol)),
:is(.valid-feedback, .valid-tooltip) :is(ul, ol) li {
    list-style: none;
    padding-left: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

:is(.invalid-feedback, .invalid-min-max-feedback, .invalid-min-feedback, .invalid-max-feedback, .invalid-tooltip):not(:has(ul, ol)),
:is(.invalid-feedback, .invalid-min-max-feedback, .invalid-min-feedback, .invalid-max-feedback, .invalid-tooltip) :is(ul, ol) li {
    list-style: none;
    color: var(--bs-form-invalid-color);
    padding-left: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-edited:valid~.valid-feedback,
.card.has-validation:has(.form-control, .form-select):has(:valid)~.valid-feedback,
.card.has-validation:has(.form-control.is-valid, .form-select.is-valid)~.valid-feedback {
    display: block;
}

.was-edited:invalid~:is(.invalid-feedback, .invalid-tooltip),
.card.has-validation:has(.form-control, .form-select):has(:invalid)~:is(.invalid-feedback, .invalid-tooltip),
.card.has-validation:has(.form-control.is-invalid, .form-select.is-invalid)~:is(.invalid-feedback, .invalid-tooltip),
.card-body:has(.form-control:user-invalid, .form-select:user-invalid) .alert-warning {
    display: block;
}

form .alert {
    display: none;
}

form.was-validated:has(:invalid) .alert {
    display: block;
}
