[data-show], [data-show].row, [data-show].card {
    display: none;
}

form:has(#kr_j:checked) [data-optional][data-show="ja"] {
    display: block;
}

form:has(#zusatzfragen_ja:checked) [data-detail][data-show="ja"] {
    display: block;
}

.alert-danger {
    display: none;

    --bs-alert-bg: var(--bs-danger-text-emphasis);
    --bs-alert-color: #000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}

.alert-warning {
    display: none;

    --bs-alert-bg: var(--bs-warning-text-emphasis);
    --bs-alert-color: #000;
    --bs-alert-border-color: var(--bs-form-invalid-border-color);
}
